<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link th:href="@{/css/demo.css}" rel="stylesheet" />
</head>
<body>

<div class="container" style="text-align:center">

    <br><br>
    <h3>Courses Available</h3>
    <br>
    <a th:href="@{/admin/add-course}" class="btn  btn-sm btn btn-primary">Add Course</a>
    <br><br>

    <a th:href="@{/admin/admin-home}"  class="btn  btn-sm btn btn-primary" >Back to Home Page</a>
    <br><br><br>
    <div class="row">
        <div class="col-sm-3"  th:each="tempCourse : ${courses}">
            <div class="card">
                <div class="card-block" >

                    <h4 class="card-title text-white bg-secondary " th:text="${tempCourse.courseName}"></h4>
                    <p class="card-text" th:text="'Rating:        '+${tempCourse.rating}">Rating:</p>
                    <p class="card-text" th:text=" 'Instructor Name :         '+${tempCourse.instructorName}"></p>
                    <a th:href="@{/admin/update-course(courseId=${tempCourse.id})}" class="btn btn-info btn-sm btn btn-dark">Update</a>
                    <a th:href="@{/admin/delete-course(courseId=${tempCourse.id})}" class="btn btn-info btn-sm btn btn-warning"
                       onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">Delete</a>
                    <br><br>
                </div>
            </div>
            <br><br>
        </div>

    </div>


</div>


</body>
</html>