<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>User Exists</title>
    <link th:href="@{/css/demo.css}" rel="stylesheet" />

</head>
<body>
<br><br>
<div class="container" style="text-align:center">
<h3> A user already  exists with this email </h3>
    <br><br>
<a th:href="@{/register}" class="btn  btn-sm btn btn-primary" > Back to registration page</a>
</div>

</body>
</html>